replicaCount: 3
podAnnotations: {}
image:
  repository: ""
  tag: ""
  pullPolicy: Always

sidecar:
  enabled: true
  image:
    repository: ""
    tag: ""
    pullPolicy: Always
  deploy:
    container_port: 80
  resources:
    limits:
      cpu: 10
      memory: 20Mi
    requests:
      cpu: 10
      memory: 20Mi

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  name:

podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80
  targetport: 8080
  status_port: 22001

deploy:
  status_port: 22001
  container_port: 8080

ingress:
  enabled: false
  secret: ""
  fqdn: ""
  serviceName: ""
  servicePort: ""

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

autoscaling:
  minReplicas: ""
  maxReplicas: ""